<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="form">
            <form action="/edit" method="post">
                <input type="text" placeholder="Previous Name " name="title" class="title-1" value="<%= filename %>">
                <input type="text" name="new" placeholder="Enter New Title Here...." class="title-1" >
                <input type="submit" value="Update Filename" class="submit-1">
            </form>
        </div>
    </div>